{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="max-w-md mx-auto mt-16 p-8 rounded-xl shadow-lg bg-white">
  <!-- Judul -->
  <h1 class="text-3xl font-bold text-center text-blue mb-6">Login</h1>

  <!-- Form Login -->
  <form method="POST" action="" class="space-y-4">
    {% csrf_token %}

    <!-- Input Form -->
    <div class="space-y-4">
      {{ form.as_p }}
    </div>

    <!-- Tombol Login -->
    <div>
      <input type="submit" value="Login"
             class="w-full cursor-pointer px-4 py-2 rounded-lg bg-Blue text-white font-semibold hover:bg-gold hover:text-blue transition duration-300"/>
    </div>
  </form>

  <!-- Pesan Error / Info -->
  {% if messages %}
  <ul class="mt-6 p-3 rounded-lg bg-gold text-blue font-medium space-y-1">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <!-- Link Register -->
  <div class="mt-6 text-center">
    <a href="{% url 'main:register' %}" 
       class="font-bold text-blue hover:text-red transition duration-300">
       Don’t have an account? Register Now
    </a>
  </div>
</div>
{% endblock content %}
